@using Microsoft.AspNetCore.Identity;

@model SD_340_W22SD_Final_Project_Group6.Models.ViewModel.AssignRoleVm

<h1>Assign Role</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignRole" method="post">

            <div class="form-group mt-4">
                <label asp-for="UserId" class="control-label"></label>
                <br />
                <select asp-for="UserId" asp-items="Model.AllUsers" class="mt-2" style="border-radius: 5px; width:180px; height: 46px; padding: 5px">
                    <option value="" hidden disabled selected>Select a User</option>
                </select>
            </div>

            <div class="form-group mt-4">
                <label asp-for="RoleId" class="control-label"></label>
                <br />
                <select asp-for="RoleId" asp-items="Model.Roles" class="mt-2" style="border-radius: 5px; width:180px; height: 46px; padding: 5px">
                    <option value="" hidden disabled selected>Select a Role</option>
                </select>
            </div>
            
            <div class="form-group mt-4">
                <input type="submit" value="Assign Role" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-5">
    <a asp-action="Index">Back to Users List</a>
</div>

<div class="mt-5">
    <p style="color:red;font-size:16px">@Model.ViewMessage</p>
</div>

